<section class="section">
  <div class="container">
    <h2>Animations</h2>
    <a href="http://cssanimation.io/">cssanimation</a>
    <br /><a href="https://zurb.com/playground/motion-ui">motion-ul</a> <br /><a
      href="http://kristofferandreasen.github.io/wickedCSS/#"
      >wickedCSS</a
    >
    <br />
    <a href="https://freefrontend.com/css-code-examples/">css-code-exampl</a>
    <br />
    <a href="https://freefrontend.com/css-gradient-buttons/"
      >css-gradient-btn</a
    >
  </div>
</section>
