<header class="header">
  <div class="container">
    <div class="mob_container">
      <a
        class="logo link"
        href="./index.html"
        aria-label="WebStudio главная страница"
        lang="en"
      >
        <span class="logo-second-color">Web</span
        ><span class="logo-light-theme-color">Calm</span>
      </a>
      <button
        type="button"
        class="menu-button"
        aria-expanded="false"
        aria-controls="id-menu-cont"
        data-menu-button
      >
        <svg width="24" height="16" aria-label="Переключатель мобильного меню">
          <use class="icon-menu" href="./images/sprite.svg#icon-menu"></use>
          <use class="icon-close" href="./images/sprite.svg#icon-close"></use>
        </svg>
      </button>
    </div>

    <div class="menu-container" data-menu id="id-menu-cont">
      <nav class="nav">
        <ul class="nav-list list">
          <li class="nav-list-li">
            <a class="nav-list-link link current" href="./index.html"
              >Home page</a
            >
          </li>
          <li class="nav-list-li">
            <!-- <a class="nav-list-link link" href="./portfolio.html">Портфолио </a> -->
            <a class="nav-list-link link" href="">HTML & CSS</a>
          </li>
          <li class="nav-list-li">
            <a class="nav-list-link link" href="">Java Script</a>
          </li>
        </ul>
      </nav>

      <address class="adress">
        <ul class="adress-list list">
          <li class="adress-list-li">
            <a class="adress-list-link link" href="mailto:info@devstudio.com">
              <svg class="adress-list-svg" width="16" height="12">
                <use href="./images/sprite.svg#icon-envelope"></use>
              </svg>
              info@webcalm.com
            </a>
          </li>
          <li class="adress-list-li">
            <a class="adress-list-link link" href="tel:+380961111111">
              <svg class="adress-list-svg" width="10" height="16">
                <use href="./images/sprite.svg#icon-phone"></use>
              </svg>
              <!-- info@devstudio.com -->
              +1 555 111 11-11
            </a>
          </li>
        </ul>
      </address>
    </div>
  </div>
</header>
