<section class="section">
  <div class="container">
    <h2>JS materials</h2>
    <p><a href="https://www.w3schools.com/js/js_reserved.asp">JavaScript Reserved Words</a > - don't do variable by this words</p>
    <a href="http://fecore.net.ua/books/m5ph3r-javascript/">GoIT JS Book</a>
    <h3>Операторы сравнения</h3>
    <ul>
    	<li>a > b и a < b - больше/меньше</li>
    	<li>a >= b и a <= b - больше/меньше или равно</li>
    	<li>a == b - равенство</li>
    	<li>a != b - неравенство</li>
    	<li>a === b - строгое равенство</li>
    	<li>a !== b - строгое неравенство</li>
    </ul>
    <h3>1.1. Приведение типов</h3>
    <p>	
Запомните 6 ложных (falsy) значений, приводящихся к false в логическом преобразовании: </p>
    <ul>
    	<li>0</li>
    	<li>NaN</li>
    	<li>null</li>
    	<li>undefined</li>
    	<li>emty string: ''</li>
    	<li>false</li>
    </ul>

    <h3>Learn codding pages</h3>
    <ul>
    	<li><a href="https://www.freecodecamp.org/learn/">https://www.freecodecamp.org/learn/</a></li>
    </ul>

    <p>INTERESTING: 'While' loop is faster than 'for', 'while' is in lower level</p>
    
  </div>
</section> 