<section class="section">
  <div class="container">
    <a class="link footer__link" href="./partials/_js-learn.html">Learn JS</a>
    <br /><br /><br />
    <h2>Net articles</h2>
    <p>1. What the links in 'head' add first and why?</p>
    <p>
      Firstly we add necessary fonts, then add modern normalize and at the end
      connect our css styles
    </p>
    <ul>
      <li><a href="">First link</a></li>
      <li><a href="">Second link</a></li>
      <li><a href="">Third link</a></li>
    </ul>
    <p>2. How sass compiler works automaticly in VSCode?</p>
    <p>
      3. How to add a sticky back-to-top button to your website?
      <a
        class="link"
        href="https://getflywheel.com/layout/sticky-back-to-top-button-tutorial/"
        >Link to an answer
      </a>
    </p>
  </div>
</section>
