<section class="section">
  <div class="container">
    <h2>How to use a parcel template</h2>
    <ul>
      <li>
        <strong>Create own repository</strong> on github and clone to your pc
      </li>
      <li>
        <strong>Copy all files</strong> from
        <a
          href="https://drive.google.com/file/d/1ep8RA9bep7QEdDSjjvP82xtHDzjltb_e/view?usp=sharing"
          >parcel-project-template-master</a
        >
        to your clonned for pc repository (or from the original
        parcel-project-template
        <a href="https://github.com/goitacademy/parcel-project-template"
          >https://github.com/parcel-project-template</a
        >
        )
      </li>
      <li>do one time for one project <strong>npm install</strong></li>
      <li>
        to create neccesary files for github pages do
        <strong>npm run build</strong>
      </li>
      <li>
        <strong>change</strong> in package.json <strong>next lines</strong>
        <ul>
          <li>
            change username and name of project to yours --- "homepage":
            "https://YOUR-USERNAMA.github.io/NAME-REPOSITORY"
          </li>
          <li>
            also change name of the project in "predeploy" --- "predeploy": "npm
            run build -- --public-url /NAME-REPOSITORY/"
          </li>
        </ul>
      </li>
      <li>
        do <strong>npm run deploy</strong> to create github pages in your
        remotely rep
      </li>
    </ul>
  </div>
</section>
